body{
    background: rgb(236, 233, 233);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bar{
    width: 60px;
    background-color: rgb(197, 174, 174);
    z-index: 10;
    position: fixed;
    right: 35px;
    top: 180px;
    height: 350px;
    border-radius: 40px;
}
.bar1{
    width: 60px;
    background-color: rgb(197, 174, 174);
    z-index: 10;
    position: fixed;
    right: 35px;
    top: 540px;
    height: 60px;
    border-radius: 40px;
}
.bar2{
    width: 60px;
    z-index: 10;
    position: fixed;
    right: 35px;
    top: 15px;
    height: 60px;
}
.container{
    display: flex;
    box-sizing: border-box;
    width: 90%;
    margin-left: 50px;
}
svg{
    margin-bottom: 0;
    padding: 0;
    position: fixed;
}
.cls-1 {
  fill:rgb(240, 153, 153);
  fill-rule: evenodd;
}

.cls-2 {
  font-size: 25px;
  text-anchor: middle;
  fill: #616363;
  font-family: "Franklin Gothic Heavy";
  text-transform: uppercase;
}

.cls-3 {
  fill: rgb(240, 153, 153);
}
.left{
    width: 28%;
    background: rgb(197, 174, 174);
    height: 460px;
    position: fixed;
    margin-top: 100px;
    border-radius: 10px;
}
img{
    width: 100%;
    margin-top: 20px;
}
.information{
    margin-left: 40px;
    height: auto;
}
.information h3{
    margin: 6px;
}
.information p{
    margin: 10px;
}

.right{
    width: 60%;
    height: auto;
    margin-left: 50px;
}
.info h2{
    box-sizing: border-box;
}
.menu{
    background: rgb(197, 174, 174);
    width: 100%;
    margin-bottom: 35px;
    font-size: 25px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0 0 380px ;
    border-radius: 20px;

}
.item a{
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(63, 51, 51);
    padding: 12px;
}
.item a:hover{
    background: rgb(151, 132, 132);
    border-radius: 10px;
  }
.fa-home{
    font-size: 30px;
}
.box{
    margin: 20px;
    padding: 30px;
}
.info{
    background: rgb(197, 174, 174);
    width: 100%;
    height: auto;
    margin-left: 380px;
    box-sizing: border-box;
    border-radius: 10px;
}
.info p{
    font-size: 20px;
    box-sizing: border-box;
}
h2{
    text-transform: uppercase;
}
.boxskill{
    display: flex;
}
.code{
    width: 35%;
    background: rgb(241, 220, 220);
    margin-left: 60px;
    border-radius: 30px;
}
.language{
    width: 35%;
    background:  rgb(241, 220, 220);
    margin-left: 80px;
    border-radius: 30px;
}
.boxskill h3{
    text-align: center;
}
.box :nth-child(3), :nth-child(10), :nth-child(14){
    margin-top: 80px;
}
.box1{
    margin: 20px;
}
.level{
    box-sizing: border-box;
    width: 100%;
    background: rgb(206, 198, 198);
}
.skills{
    text-align: right;
    padding: 3px 3px 0 0;
    color: rgb(253, 252, 252);
}
.python{
    width: 90%; background-color: rgb(77, 69, 69);
}
.html{
    width: 70%; background-color: rgb(77, 69, 69);
}
.css{
    width: 70%; background-color: rgb(77, 69, 69);
}
.english{
    width: 70%; background-color: rgb(77, 69, 69);
}
.khmer{
    width: 80%; background-color: rgb(77, 69, 69);
}
.thai{
    width: 95%; background-color: rgb(77, 69, 69);
}
.social{
    text-align: center;
    margin-top: 10px;
}
.social a{
    font-size: 30px;
    padding: 10px 10px 30px 13px;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook-official {
    color: #224796;
}
.fa-skype {
    color:#0297ce;
}
.fa-telegram {
    color: #05a0d8;
}
.fa-github {
    color: black;
}
.fa-file-pdf-o {
    color: black;
}
.fa-globe {
    color: rgb(63, 51, 51);
}
.ex1, .ex2, .ex3{
    display: flex;
}
.ex1 h4, .ex2 h4, .ex3 h4{
    width: 30%;
}
.ex1 p, .ex2 p, .ex3 p{
    font-size: 18px;
}
footer{
    width: 100%;
    background-color:  rgb(180, 158, 158);
    font-weight: bold;
    color:  #616363;
    text-align: center;
    padding: 0.2px;
  }